* {
    box-sizing: border-box;
    color-scheme: dark;
}

#webRtc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 300px;
    max-width: 600px;
    margin: 1rem auto;
}

#webRtcChatForm {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;

    width: 100%;
    margin: 0;
    margin-top: auto;
    padding: 0;
}

#webRtcChatMessages {
    flex: 1;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    overflow: auto;
}



#webRtcMediaStreams {
    flex: 1;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr  1fr  1fr  ;
}



input[type="text"] {
    height: 1.75rem;
    padding: .25rem 1rem;
    border-radius: 5px;
    border: 1px solid currentColor;
}

button {
    height: 1.75rem;
    padding: .25rem 1rem;
    border-radius: 5px;
    border: 1px solid currentColor;
    cursor: pointer;
}

fieldset {
    border: 1px solid currentColor;
    border-radius: 5px;
}

legend {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}


video {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid currentColor;
}